:root {
  --gift-box-size: 160px;
  --gift-box-lid-width: 180px;
  --gift-box-lid-height: 30px;
}

.container {
  perspective: 400px;
  width: var(--gift-box-size);
  height: var(--gift-box-size);
  display: block;
}

.giftBox {
  width: var(--gift-box-size);
  height: var(--gift-box-size);
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}

.giftBoxLid {
  width: var(--gift-box-lid-width);
  height: var(--gift-box-lid-height);
  position: relative;
  transform-style: preserve-3d;
  transform: translateY(40px);
}

.giftBoxLidOpen {
  animation: open 1s ease-out forwards;
}

.giftBoxSide {
  width: var(--gift-box-size);
  height: var(--gift-box-size);
  background: linear-gradient(to right, red 40%, white 40%, white 60%, red 60%);
  position: absolute;
  border: 1px solid darkred;
}

.giftBoxLidSide {
  width: var(--gift-box-lid-width);
  height: var(--gift-box-lid-height);
  background: linear-gradient(to right, red 40%, white 40%, white 60%, red 60%);
  position: absolute;
  border: 1px solid darkred;
}

.giftBoxLidSideTop,
.giftBoxSideBottom {
  background: linear-gradient(
      to right,
      transparent 40%,
      white 40%,
      white 60%,
      transparent 60%
    ),
    linear-gradient(to bottom, red 40%, white 40%, white 60%, red 60%);
}

.giftBoxSideFront {
  transform: rotateY(0deg) translateZ(80px);
}

.giftBoxSideBack {
  transform: rotateY(180deg) translateZ(80px);
}

.giftBoxSideLeft {
  transform: rotateY(-90deg) translateZ(80px);
}

.giftBoxSideRight {
  transform: rotateY(90deg) translateZ(80px);
}

.giftBoxSideBottom {
  transform: rotateX(-90deg) translateZ(80px);
}

.giftBoxLidSideFront {
  transform: rotateY(0deg) translateZ(90px) translateX(-10px) translateY(-30px);
}
.giftBoxLidSideBack {
  transform: rotateY(180deg) translateZ(90px) translateX(10px) translateY(-30px);
}
.giftBoxLidSideLeft {
  transform: rotateY(-90deg) translateZ(100px) translateY(-30px);
}
.giftBoxLidSideRight {
  transform: rotateY(90deg) translateZ(80px) translateY(-30px);
}
.giftBoxLidSideTop {
  transform: rotateX(90deg) translateZ(120px) translateX(-10px) translateY(0);
  height: var(--gift-box-lid-width);
}

.rotatingAnimation {
  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  from {
    transform: translateZ(-110px) rotateY(20deg) rotateX(-15deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(-110px) rotateY(380deg) rotateX(-15deg) rotateZ(0deg);
  }
}

@keyframes open {
  0% {
    transform: translateY(40px) rotateX(0);
    perspective: 650px;
  }

  100% {
    transform: translateY(-90px) rotateX(85deg);
    perspective: 600px;
  }
}
