.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.happyBirthdayText {
  font-family: cursive;
  font-size: 2.5em;
  margin-top: 100px;
}

.textContainer {
  margin-bottom: 90px;
  gap: 50px;
  transition: 2s;
  display: flex;
  align-items: center;
  flex-direction: column;
}
