.container {
  align-items: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100%;
}

.mainButton {
  margin-top: 10px;
  font-size: 28px;
  max-width: 90%;
}

.preGameContainer {
  padding: 16px;
  padding-top: 0;
  font-family: pokemon;
  font-size: 28px;
  text-align: center;
}

.startButton {
  margin-top: 16px;
  font-size: 36px;
}

.startButton,
.mainButton {
  letter-spacing: 2px;
  background-color: #5db9ff;
}

.card {
  width: 90%;
  height: 80%;
  border-radius: 8px;
}

.startButton,
.mainButton,
.clueText {
  font-family: pokemon;
  text-shadow: -2px -2px 0 rgb(0, 117, 190), 1px -1px 0 rgb(0, 117, 190),
    -1px 1px 0 rgb(0, 117, 190), 1px 1px 0 rgb(0, 117, 190);
  color: rgb(255, 204, 0);
}

.clueText {
  font-size: 1.2rem;
}
